.user-hover-popup {
  @extend %fadeToggle;
  @extend %popup;
  @extend %popup__triangle;

  position: absolute;
  z-index: 1000;
  top: 50px;
  right: 300px;
  width: 200px;
  background-color: #ffffff;
  text-align: center;

  &.align--right {

    &::before {
      left: auto;
      right: 5px;
    }

  }

  .user-thumb {
    margin: 0 auto 10px auto;
  }

  .user-name {
    @extend %link--medium;
    @include text-truncate();
    display: block;
  }

  .options {
    margin-top: 10px;
  }

}
