
.user-thumb {
  @extend %thumb-medium;
  @include transition(transform 250ms ease);

  &:active {
    transform: scale(1.1);
  }

  a {
    display: block;
  }

  &.thumb--border {

    img {
      border: 5px solid #ffffff;
    }

  }

  &.user-thumb--placeholder {
    @include border-radius(50%);
    background-color: $clr-lightcream;
  }

}

.user-thumb--big {
  @extend %thumb-big;
}

.user-thumb--huge {
  @extend %thumb-huge;
}
