.general-category {

  &.col-3 {
    width: ($event-card-width * 3) + (20px * 2);
  }

}

  .general-category__header {
    @extend .clearfix;

    color: $clr-dark;
    padding: 0 14px 14px 14px;
    border-bottom: 1px solid $clr-cream;

    font-size: 15px;
  }

    .general-category__header__title {
      text-transform: uppercase;
      float: left;

      span {
        font-weight: bold;
      }

    }

    .general-category__header__link {
      color: #70879C;
      float: right;

      &:hover {
        text-decoration: underline;
      }

    }

  .general-category__list {
    @extend .clearfix;

    margin-top: 20px;

    > li {
      float: left;
      margin-right: 20px;

      &:last-of-type {
        margin-right: 0;
      }

    }

  }

  .general-category__list-vertical {
    margin-top: 10px;

    > li {
      margin-top: 10px;
    }

  }
