

.event-body {
  @extend .clearfix;

  margin: 40px 0 80px 0;
}

.event-aside {
  width: $column-width;
  margin-left: 20px;

  float: right;
}

  .event-main {
    //overflow: hidden;
  }

    .event-left {
      width: $column-width;
      margin-right: 20px;

      float: left;

      .btn {
        margin-top: 20px;
      }

    }

    .event-centre {
      overflow: hidden;

      .heading {
        margin-top: 20px;
        margin-bottom: 10px;
      }

      .list-thumbs {
        margin-top: 40px;
      }

    }


.thumb-and-info {
  @include box-shadow(0,0,10px,rgba(0,0,0,0.08));
  @include border-radius(5px);
}

  .thumb-and-info__thumb {
    @include border-radius-separate(5px, 5px, 0, 0);

    height: $column-width;
    background-color: $clr-cream;
    overflow: hidden;

  }

  .thumb-and-info__info {
    @include border-radius-separate(0, 0, 5px, 5px);

    //background-color: $clr-lightcream;
    padding: 20px;
    text-align: center;
  }

    .thumb-and-info__title {
      color: $clr-dark;
      font-size: 22px;
      line-height: 24px;
      font-weight: bold;
      margin-bottom: 12px;
    }

    .thumb-and-info__subtitle {
      color: $clr-medium;
      font-size: 16px;
      line-height: 16px;
      font-weight: bold;
    }

.list-thumbs {
  @extend .clearfix;

  > li {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;

    &:nth-of-type(3n) {
      margin-right: 0;
    }

  }

}

.thumb-general {
  @include transition(transform 250ms ease);

  cursor: pointer;
  width: 180px;
  height: 180px;

  &:active {
    transform: scale(0.95);
  }

  img {
    @include border-radius(5px);
  }

}

.comments-section {
  margin-top: 40px;

  .comments-section__header {
    margin-bottom: 20px;
  }

}

.event-details {
  margin-bottom: 40px;
}

  .event-details__author {
    margin-bottom: 20px;

    .thumb {
      @extend %thumb-default;
    }

  }

  .event-details__list {
    color: $clr-light;
    font-size: 13px;

    > li {
      margin-top: 5px;

      &:first-of-type {
        margin-top: 0;
      }

    }

    .label {
      display: inline-block;
      min-width: 65px;
      margin-right: 10px;
      font-style: italic;
    }

    .value {
      color: $clr-medium;
      font-weight: bold;
    }

    .sub {
      color: $clr-light;
      font-weight: normal;
      display: inline-block;
      margin-left: 6px;
    }

  }
