

.event-body {
  @extend .clearfix;

  margin: 40px 0 80px 0;
}

.event-aside {
  width: $column-width;
  margin-left: 20px;

  float: right;
}

  .event-main {
    //overflow: hidden;
  }

    .event-left {
      width: $column-width;
      margin-right: 20px;

      float: left;

      .btn {
        margin-top: 20px;
      }

    }

    .event-centre {
      overflow: hidden;

      .heading {
        margin-top: 20px;
        margin-bottom: 10px;
      }

      .list-thumbs {
        margin-top: 40px;
      }

    }

.event-intro-text {
  min-height: 70px;
}

.list-thumbs {
  @extend .clearfix;

  > li {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;

    &:nth-of-type(3n) {
      margin-right: 0;
    }

  }

}

.thumb-general {
  @include transition(transform 250ms ease);

  cursor: pointer;
  width: 180px;
  height: 180px;

  &:active {
    transform: scale(0.95);
  }

  img {
    @include border-radius(5px);
  }

}

.comments-section {
  margin-top: 40px;

  .comments-section__header {
    margin-bottom: 20px;
  }

}

.event-details {
  margin-bottom: 40px;
}

  .event-details__author {
    @extend .clearfix;

    margin-bottom: 20px;

    .thumb {
      @extend %thumb-default;
      float: left;
      margin-right: 18px;
    }

    .info {
      overflow: hidden;
    }

    .subtitle {
      @extend %text-small-italic;

      margin: 11px 0 5px 0;
    }

    .title {
      @extend %link--medium;
    }

  }

  .event-details__list {
    color: $clr-light;
    font-size: 13px;

    > li {
      margin-top: 5px;

      &:first-of-type {
        margin-top: 0;
      }

    }

    .label {
      display: inline-block;
      min-width: 65px;
      margin-right: 10px;
      font-style: italic;
    }

    .value {
      color: $clr-medium;
      font-weight: bold;
    }

    .sub {
      color: $clr-light;
      font-weight: normal;
      display: inline-block;
      margin-left: 6px;
    }

  }

.event-followers {}

  .event-followers__list {
    @extend .clearfix;

    margin-top: 10px;

    > li {
      float: left;
      margin-bottom: 10px;
      margin-right: 10px;

      &:nth-of-type(6n) {
        margin-right: 0;
      }

    }

  }
