
$event-card-width: 270px;
.event-card {

  width: $event-card-width;
  //background-color: #EDF1F7;
}

  .event-card__layer {
    @include border-radius(5px);
    @include box-shadow(0,0,2px,rgba(0,0,0,0.2));
  }

  .event-card__thumb {
    @extend .img-cover;

    @include border-radius-separate(5px, 5px, 0, 0);

    width: 100%;
    height: $event-card-width;
  }

  .event-card__info {
    //background-color: #ffffff;
    //border-left: 1px solid #EDF1F7;
    //border-right: 1px solid #EDF1F7;
    padding: 14px 10px;
  }

    .event-card__title {
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 4px;
    }

    .event-card__desc {
      font-size: 14px;
      line-height: 17px;
    }

  .event-card__options {
    padding: 8px 5px 0 5px;
  }
