
.user-body {
  margin-top: 40px;
  margin-bottom: 80px;
}

.user-side {

  .follow-button {
    margin-top: 20px;
  }

}

  .user-details {
    margin-top: 20px;
  }

  .user-list {
    margin-top: 40px;
  }

.user-body {

  .general-category {
    margin-bottom: 40px;
  }

}
