%btn-reset {
  @extend %font--default;

  border: 0;
  padding: 0;
  background: none;
  font-size: 1em;

  cursor: pointer;

  &:focus {
    outline: none;
  }

}

.btn {
  @extend %btn-reset;
}

.btn--main {
  @include border-radius(25px);

  background-color: $clr-primary;
  color: #ffffff;
  font-size: 20px;
  padding: 12px 22px;

  text-transform: uppercase;

  &.btn--main--mini {
    font-size: 12px;
    padding: 5px 12px 6px 12px;

    .icon {
      margin-left: 1px;
      font-size: 14px;
    }

  }

  .icon {
    margin-left: 3px;
    font-size: 22px;

    &::before {
      margin: 0;
    }

  }

}

.btn--plain {
  color: $clr-light;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;

  &.btn--plain--highlightable {
    @include transition(transform 250ms ease);

    &:hover {
      color: $clr-primary;
    }

    &:active {
      transform: scale(1.05);
    }

  }

  .icon {
    margin-left: 1px;
    font-size: 14px;

    &::before {
      margin: 0;
    }

  }

}

.btn--big {
  @include border-radius(5px);

  display: block;
  background-color: $clr-primary;
  color: #ffffff;
  width: 100%;
  padding: 20px;
  font-size: 18px;
}

.btn--med-plain {
  color: $clr-dark;
  font-size: 16px;
  padding: 14px 18px;

  &.btn--smaller {
    font-size: 14px;
    padding: 10px 14px;
  }

  &.btn--lighter {
    color: #ffffff;
  }

}

.btn--med-round {
  @extend .btn--med-plain;
  @include border-radius(25px);

  padding: 12px 16px;
  border: 2px solid black;

  &.btn--smaller {
    padding: 8px 12px;
  }

  &.btn--lighter {
    border-color: #ffffff;

    &:hover {
      background-color: #ffffff;
    }

  }

}

.btn--prominent {
  @include border-radius(5px);
  @include transition(all 250ms ease);

  background-color: $clr-primary;
  color: #ffffff;
  display: block;
  width: 100%;
  padding: 20px;
  font-size: 18px;

  &:active {
    transform: translate(0, 2px);
  }

  &.btn--smaller {
    font-size: 16px;
    padding: 15px;
  }

  &.btn--lighter {
    background-color: $clr-cream;
    color: $clr-medium;

    &:hover {
      color: $clr-dark;
    }

  }

  &.btn--tiny {
    font-size: 16px;
    padding: 10px 18px;
    display: inline-block;
    width: auto;
  }

}

.btn--general {
  @include border-radius(5px);
  font-size: 15px;
  padding: 5px 9px;
  border: 2px solid $clr-cream;
  color: $clr-medium;
  cursor: default;
}
