
// Greys
$clr-dark: #1C3042;
$clr-medium: #6B737B;
$clr-light: #B7C3D0;
$clr-medium-light: #70879C;

// Colours
$clr-primary: #0087FF;
$clr-lightcream: #F5F9FF;
$clr-cream: #EBEFF3;
$clr-medblue: #DEEEFF;
