
%font--default {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

%font--heading {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
}

.font--heading {
  @extend %font--heading;
}

%text-shadow {
  text-shadow: 0 1px rgba(0,0,0,0.5);
}

// Headings

%heading-medium {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}

%heading-medium--sml {
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
}

a {
  color: inherit;

  &[ng-click] {
    cursor: pointer;
  }

}
