
$event-card-width: 270px;
$column-width: 270px;

%growToggle {

  @include transition(all 350ms ease);

  &.ng-enter {
    @include animation(bounceInDown 350ms ease);
  }

  &.ng-leave {
    @include animation(bounceOut 350ms ease);
  }

}

%popToggle {

  @include transition(all 300ms ease);


  &.ng-hide-remove,
  &.ng-enter {
    @include animation(fadeIn 300ms ease);
  }

  &.ng-hide-add,
  &.ng-leave {
    @include animation(bounceOut 300ms ease);
  }

}

// Images

%thumb-default {

  width: 60px;
  height: 60px;


  img {
    @include border-radius(50%);
    width: 100%;
    height: 100%;
  }

}
