
$event-card-width: 270px;
$column-width: 270px;

%growToggle {

  @include transition(all 350ms ease);

  &.ng-enter {
    @include animation(bounceInDown 350ms ease);
  }

  &.ng-leave {
    @include animation(bounceOut 350ms ease);
  }

}

%popToggle {

  @include transition(all 300ms ease);


  &.ng-hide-remove,
  &.ng-enter {
    @include animation(fadeIn 300ms ease);
  }

  &.ng-hide-add,
  &.ng-leave {
    @include animation(bounceOut 300ms ease);
  }

}

%fadeToggle {

  @include transition(all 150ms ease);


  &.ng-hide-remove,
  &.ng-enter {
    @include animation(fadeIn 150ms ease);
  }

  &.ng-hide-add,
  &.ng-leave {
    @include animation(fadeOut 150ms ease);
  }

}

// Images

%thumb-default {

  width: 60px;
  height: 60px;


  img {
    @include border-radius(50%);
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
  }

}

%thumb-medium {

  width: 36px;
  height: 36px;


  img {
    @include border-radius(50%);
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
  }

}

%thumb-big {

  width: 80px;
  height: 80px;

}


%thumb-huge {

  width: 150px;
  height: 150px;

}
