<section class="event-body">
  <div class="site-maxwidth">
    <aside class="event-aside">
      ASIDE STUFF
    </aside>
    <section class="event-main">
      <section class="event-left">
        <div class="thumb-and-info">
          <div class="thumb-and-info__thumb">
            <img ng-src="/assets/images/placeholder/thumb-mars.jpg" src="/assets/images/blank.png" alt="Event thumbnail" />
          </div>
          <div class="thumb-and-info__info">
            <div class="thumb-and-info__title">in 3 months</div>
            <div class="thumb-and-info__subtitle">08/03/2015 2:00am</div>
          </div>
        </div>
        <button class="btn btn--prominent">
          FOLLOW
          <span class="icon icon-star-empty"></span>
        </button>
        <button class="btn btn--prominent btn--lighter">
          REMINDERS
          <span class="icon icon-clock"></span>
        </button>
      </section>
      <section class="event-centre">
        <h2 class="heading heading--medium">EXOMARS Launch - ESA Mars orbiter and lander</h2>
        <p class="text--medium">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Accusantium animi, architecto, aspernatur beatae culpa eius est fugiat hic ipsam itaque mollitia
          nulla numquam obcaecati officiis rerum ullam unde!
          <br/>
          <br/>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem beatae blanditiis,
          commodi consequatur corporis distinctio dolorem doloribus ducimus facere
          laborum minus necessitatibus non nulla numquam quaerat quasi quisquam suscipit temporibus?
          <br/>
          Cum, laborum!
        </p>
        <ul>
          <li>
            <div class="thumb-general">
              <img ng-src="/assets/images/placeholder/thumb-mars.jpg" src="/assets/images/blank.png" alt="Event thumbnail" />
            </div>
          </li>
          <li>
            <div class="thumb-general">
              <img ng-src="/assets/images/placeholder/thumb-mars.jpg" src="/assets/images/blank.png" alt="Event thumbnail" />
            </div>
          </li>
          <li>
            <div class="thumb-general">
              <img ng-src="/assets/images/placeholder/thumb-mars.jpg" src="/assets/images/blank.png" alt="Event thumbnail" />
            </div>
          </li>
          <li>
            <div class="thumb-general">
              <img ng-src="/assets/images/placeholder/thumb-mars.jpg" src="/assets/images/blank.png" alt="Event thumbnail" />
            </div>
          </li>
          <li>
            <div class="thumb-general">
              <img ng-src="/assets/images/placeholder/thumb-mars.jpg" src="/assets/images/blank.png" alt="Event thumbnail" />
            </div>
          </li>
          <li>
            <div class="thumb-general">
              <img ng-src="/assets/images/placeholder/thumb-mars.jpg" src="/assets/images/blank.png" alt="Event thumbnail" />
            </div>
          </li>
        </ul>
      </section>
    </section>
  </div>
</section>
