<section class="event-body">
  <div class="site-maxwidth">
    <aside class="event-aside">
      <section class="event-details">
        <div class="event-details__author">
          <div class="thumb" show-user-hover="">
            <a href="">
              <img ng-src="/assets/images/placeholder/me.jpg" src="/assets/images/blank.png" alt="Event thumbnail" />
            </a>
          </div>
          <div class="info">
            <h5 class="subtitle">Event Author</h5>
            <a href="" class="title" show-user-hover="">Simon Hales</a>
          </div>
        </div>
        <ul class="event-details__list">
          <li>
            <span class="label">Posted in</span>
            <span class="value">Space</span>
          </li>
          <li>
            <span class="label">Created</span>
            <span class="value">
              12 days ago <span class="sub">21/04/2015</span>
            </span>
          </li>
          <li>
            <span class="label">Updated</span>
            <span class="value">
              11 days ago <span class="sub">22/04/2015</span>
            </span>
          </li>
        </ul>
      </section>
      <section class="event-followers">
        <header class="general-category__header">
          <h3 class="general-category__header__title"><span>Followers</span></h3>
          <a class="general-category__header__link" ng-click>SEE ALL</a>
        </header>
        <ul class="event-followers__list">
          <li>
            <user-thumb></user-thumb>
          </li>
          <li>
            <user-thumb></user-thumb>
          </li>
          <li>
            <user-thumb></user-thumb>
          </li>
          <li>
            <user-thumb></user-thumb>
          </li>
          <li>
            <user-thumb></user-thumb>
          </li>
          <li>
            <user-thumb></user-thumb>
          </li>
          <li>
            <user-thumb></user-thumb>
          </li>
          <li>
            <user-thumb></user-thumb>
          </li>
          <li>
            <user-thumb></user-thumb>
          </li>
          <li>
            <user-thumb></user-thumb>
          </li>
          <li>
            <user-thumb></user-thumb>
          </li>
          <li>
            <user-thumb></user-thumb>
          </li>
        </ul>
      </section>
    </aside>
    <section class="event-main">
      <section class="event-left">
        <div class="thumb-and-info">
          <div class="thumb-and-info__thumb">
            <img ng-src="/assets/images/placeholder/thumb-mars.jpg" src="/assets/images/blank.png" alt="Event thumbnail" />
          </div>
          <div class="thumb-and-info__info">
            <div class="thumb-and-info__title">in 3 months</div>
            <div class="thumb-and-info__subtitle">08/03/2015 2:00am</div>
          </div>
        </div>
        <button class="btn btn--prominent">
          FOLLOW
          <span class="icon icon-star-empty"></span>
        </button>
        <button class="btn btn--prominent btn--lighter">
          REMINDERS
          <span class="icon icon-clock"></span>
        </button>
      </section>
      <section class="event-centre">
        <h2 class="heading heading--medium">EXOMARS Launch - ESA Mars orbiter and lander</h2>
        <p class="text--medium">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Accusantium animi, architecto, aspernatur beatae culpa eius est fugiat hic ipsam itaque mollitia
          nulla numquam obcaecati officiis rerum ullam unde!
          <br/>
          <br/>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem beatae blanditiis,
          commodi consequatur corporis distinctio dolorem doloribus ducimus facere
          laborum minus necessitatibus non nulla numquam quaerat quasi quisquam suscipit temporibus?
          <br/>
          Cum, laborum!
        </p>
        <ul class="list-thumbs">
          <li>
            <div class="thumb-general">
              <img ng-src="/assets/images/placeholder/thumb-mars.jpg" src="/assets/images/blank.png" alt="Event thumbnail" />
            </div>
          </li>
          <li>
            <div class="thumb-general">
              <img ng-src="/assets/images/placeholder/thumb-mars.jpg" src="/assets/images/blank.png" alt="Event thumbnail" />
            </div>
          </li>
          <li>
            <div class="thumb-general">
              <img ng-src="/assets/images/placeholder/thumb-mars.jpg" src="/assets/images/blank.png" alt="Event thumbnail" />
            </div>
          </li>
          <li>
            <div class="thumb-general">
              <img ng-src="/assets/images/placeholder/thumb-mars.jpg" src="/assets/images/blank.png" alt="Event thumbnail" />
            </div>
          </li>
          <li>
            <div class="thumb-general">
              <img ng-src="/assets/images/placeholder/thumb-mars.jpg" src="/assets/images/blank.png" alt="Event thumbnail" />
            </div>
          </li>
          <li>
            <div class="thumb-general">
              <img ng-src="/assets/images/placeholder/thumb-mars.jpg" src="/assets/images/blank.png" alt="Event thumbnail" />
            </div>
          </li>
        </ul>
        <section class="comments-section">
          <header class="comments-section__header general-category__header">
            <h3 class="general-category__header__title"><span>Comments</span></h3>
            <a class="general-category__header__link" ng-click>SEE ALL</a>
          </header>
          <div class="comment-form comment-structure">
            <div class="comment-structure__left">
              <div class="comment-form__thumb comment-structure__thumb">
                <img ng-src="/assets/images/placeholder/me.jpg" src="/assets/images/blank.png" alt="Event thumbnail" />
              </div>
            </div>
            <div class="comment-form__side comment-structure__side">
              <div class="comment-structure__input-wrapper">
                <textarea class="textarea textarea--plain"></textarea>
              </div>
              <button class="btn btn--general comment-structure__button">POST</button>
            </div>
          </div>
          <ul class="comments-list">
            <li>
              <comment></comment>
            </li>
            <li>
              <comment></comment>
            </li>
            <li>
              <comment></comment>
            </li>
            <li>
              <comment></comment>
            </li>
            <li>
              <comment></comment>
            </li>
          </ul>
        </section>
      </section>
    </section>
  </div>
</section>
