<section class="event-header">
  <section class="event-major-preview__display"
           style="background-image:url(/assets/images/placeholder/event-mars.jpg);">
    <div class="underlay"></div>
    <div class="content">
      <div class="when-wrapper">
        <a class="when" ui-sref="event({id: 'boop', slug: 'woop'})">in 3 months</a>
      </div>
      <div class="title-wrapper">
        <a class="title" ui-sref="event({id: 'boop', slug: 'woop'})" ng-bind="::eventVM.data.event.title"></a>
      </div>
      <button class="btn btn--main">
        Follow
        <span class="icon icon-star-empty"></span>
      </button>
    </div>
  </section>
</section>
